@import "tailwindcss";

@theme {
  --color-brand-blue: #0A192F;
  --color-brand-light: #F8FAFC;
  --color-signal-green: #10B981;
  --color-signal-red: #EF4444;
  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;
}

body {
  font-family: var(--font-inter);
  background-color: var(--color-brand-light);
  color: #1E293B;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-poppins);
}
